// import fonts

@font-face {
	font-family: "oswald_bold";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "oswald_extralight";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: "oswald_light";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
}

@font-face {
	font-family: "oswald_medium";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-Medium.ttf") format("truetype");
}

@font-face {
	font-family: "oswald_regular";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "oswald_semibold";
	font-style: normal;
	src: url("../fonts/Oswald/Oswald-SemiBold.ttf") format("truetype");
}

// lato

@font-face {
	font-family: "lato_black";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Black.ttf") format("truetype");
}

@font-face {
	font-family: "lato_blackitalic";
	font-style: normal;
	src: url("../fonts/Lato/Lato-BlackItalic.ttf") format("truetype");
}

@font-face {
	font-family: "lato_bold";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "lato_bolditalic";
	font-style: normal;
	src: url("../fonts/Lato/Lato-BoldItalic.ttf") format("truetype");
}

@font-face {
	font-family: "lato_hairline";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Hairline.ttf") format("truetype");
}

@font-face {
	font-family: "lato_hairlineitalic";
	font-style: normal;
	src: url("../fonts/Lato/Lato-HairlineItalic.ttf") format("truetype");
}

@font-face {
	font-family: "lato_italic";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Italic.ttf") format("truetype");
}

@font-face {
	font-family: "lato_light";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Light.ttf") format("truetype");
}

@font-face {
	font-family: "lato_lightitalic";
	font-style: normal;
	src: url("../fonts/Lato/Lato-LightItalic.ttf") format("truetype");
}

@font-face {
	font-family: "lato_regular";
	font-style: normal;
	src: url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
}


#oswald_bold * {
	font-family: "oswald_bold";
}

#oswald_extralight * {
	font-family: "oswald_extralight";
}

#oswald_light * {
	font-family: "oswald_light";
}

#oswald_medium * {
	font-family: "oswald_medium";
}

#oswald_regular * {
	font-family: "oswald_regular";
}

#oswald_semibold * {
	font-family: "oswald_semibold";
}

#lato_black * {
	font-family: "lato_black";
}

#lato_blackitalic * {
	font-family: "lato_blackitalic";
}

#lato_bold * {
	font-family: "lato_bold";
}

#lato_bolditalic * {
	font-family: "lato_bolditalic";
}

#lato_hairline * {
	font-family: "lato_hairline";
}

#lato_hairlineitalic * {
	font-family: "lato_hairlineitalic";
}

#lato_italic * {
	font-family: "lato_italic";
}

#lato_light * {
	font-family: "lato_light";
}

#lato_lightitalic * {
	font-family: "lato_lightitalic";
}

#lato_regular * {
	font-family: "lato_regular";
}
#oswald_bold {
	font-family: "oswald_bold";
}

#oswald_extralight {
	font-family: "oswald_extralight";
}

#oswald_light {
	font-family: "oswald_light";
}

#oswald_medium {
	font-family: "oswald_medium";
}

#oswald_regular {
	font-family: "oswald_regular";
}

#oswald_semibold {
	font-family: "oswald_semibold";
}

#lato_black {
	font-family: "lato_black";
}

#lato_blackitalic {
	font-family: "lato_blackitalic";
}

#lato_bold {
	font-family: "lato_bold";
}

#lato_bolditalic {
	font-family: "lato_bolditalic";
}

#lato_hairline {
	font-family: "lato_hairline";
}

#lato_hairlineitalic {
	font-family: "lato_hairlineitalic";
}

#lato_italic {
	font-family: "lato_italic";
}

#lato_light {
	font-family: "lato_light";
}

#lato_lightitalic {
	font-family: "lato_lightitalic";
}

#lato_regular {
	font-family: "lato_regular";
}
